body
{
	overflow:hidden;
	margin:0;
	font-family:Arial;
}
#scr
{
	border:1px solid black;
	width:85%;
	height:85%;
	overflow:hidden;
	position:absolute;
	top:8%;
	left:8%;
}
canvas
{
	background:#000000;
}
#size_control
	{
		position:fixed;
		top:0;
		right:0;
	}
.button
	{
		width:40px;
		height:40px;
	}
.massage_button
	{
		height:40px;
		width:50%;
		display:block;
		margin:10px auto;
	}
#massage
	{
		position:absolute;
		top:25%;
		left:25%;
		height:50%;
		width:50%;
		border:1px solid black;
		border-radius:10px;
		background:#ffffff;
		display:none;
	}
#massage_scroll
	{
		height:70%;
		width:99%;
		overflow-y:auto;
	}
#massage img
	{
		width:70%;
		max-width:400px;
		margin:auto;
		display:block;
	}
#massage h2, #information h2
	{
		text-align:center;
		border-bottom:1px solid black;
	}
#massage p, #information p
	{
		padding:0px 15px;
	}
#information
	{
		position:absolute;
		top:25%;
		right:1%;
		height:50%;
		width:200px;
		border:1px solid black;
		border-radius:10px;
		overflow-y:auto;
		background:rgba(255, 255, 255, 0.7);
		z-index:2;
		display:none;
	}
#information table
	{
		margin:auto;
	}
#bonus_panel
	{
		position:fixed;
		top:0;
		left:0;
		height:100%;
		width:60px;
		overflow-y: auto;
	}
#bonus_panel .bonus_button
	{
		width:40px;
		height:40px;
		border:1px solid black;
		text-align:center;
		cursor:pointer;
		margin:5px 0;
	}
#bonus_panel .bonus_button img
	{
		height:60%;
	}
